<div>
  <h3><%= @find_widgets.count %></h3>
</div>

<div class='visible-widgets'>
  <% @find_widgets.visible.each do |widget| %>
    <ul class='widget'>
      <%= widget.name %> -
      <%= widget.description %> - 
      <%= link_to widget.created_by, widget_path(id: widget.user_id) %>
    </ul>
  <% end %>
</div>