<h3>Technical Challenge</h3>

<p>Submitted by Harper Bellows</p>

<p>While I wasn't able to get the oauth working, I made the below user through Postman.<br>
Logging in as this user will allow access to the rest of the application's functionality.<br>
(I'm sure there are gems to help with this type of authentication, but I haven't much exposure to oauth<br>
outside of omniauth for authentication through Google or Github)</p></br>

<div>
  <p>'Testing User', email: 'user@test.com',password: 'password'</p></br>
</div>

<p>Please click <%= link_to 'here', widgets_path %> to start</p>

